@model AspNetMVCTaskBoard.ViewModels.TaskBoardViewModel

@{
    ViewBag.Title = "Home Page";
}

<section title="Tasks">
    
    <div class="row">

        @foreach (var task in Model.Tasks) {
            <div class="col-lg-2">
                <div class="taskboard-header">
                    @task.Name
                </div>
                <div class="task-description">
                    @task.Description.Substring(0, 20)
                </div>
                <div class="task-peoples">
                    @task.Peoples.Select(t => t.Name)
                </div>
            </div>
        }

    </div>
    
    <!-- Button trigger modal -->
    <button type="button" id="taskD" class="btn btn-primary btn-lg">
        Launch demo modal
    </button>

   
    
    <div class="row">
        <button  class="btn btn-primary">
            <i class="glyphicon-ok"></i>Adicionar
            
            
            
        </button>
        
        <div id='Modalpopup' class='modal fade in' data-url='@Url.Action("TaskModal")'>
            <div id='popupcontainer'>

            </div>
        </div>
 
    </div>
    
    
</section>