@model AspNetMVCTaskBoard.ViewModels.TaskBoardViewModel

@{
    ViewBag.Title = "Home Page";
}

<section title="Tasks">
    
    <div class="row">

        @foreach (var task in Model.Tasks) {
            <div class="col-lg-2">
                <div class="taskboard-header">
                    @task.Name
                </div>
                <div class="task-description">
                    @task.Description.Substring(0, 20)
                </div>
                <div class="task-peoples">
                    @task.Peoples.Select(t => t.Name)
                </div>
            </div>
        }

    </div>
    
    
</section>